@import "tailwindcss";

:root {
    --white: #f9fafb;
    --orange : #f3bc9a;
}

* {
    list-style: none;
    text-decoration: none;
    color: #333;
}

.warapper {
    max-width: 1000px;
    margin:30px auto;
    justify-items: center;
}

@media (max-width: 390px) {
    .warapper {
        padding: 0 16px;
    }
    h1 {
        font-size: x-large;
    }
}