.main {
    background-color: var(--white);
    padding: 30px 0;
    border-radius: 3px;
    justify-items: center;
}

.product {
    display: flex;
    padding-bottom: 6px;
    border-bottom: 2px dashed #333;
}