.submitBtn {
    border-bottom: 2px solid var(--orange);
    padding: 2px;
    font-weight: 600;
    cursor: pointer;
}

.adminBtn {
    border-bottom: 2px solid #333;
    padding: 2px;
    cursor: pointer;

}

.linkBtn a {
    display: block;
    font-weight: bold;
    color: #444;
}

.linkBtn {
    border-bottom: 2px solid #444;
    display: flex;
    justify-content: space-around;
}

.userLink a {
    display: block;
    font-weight: bold;
    color: #444;
}

.userLink {
    border-bottom: 2px solid var(--orange);
    display: flex;
    justify-content: space-around;
}