.main {
    width: auto;
    /* border: 1px solid #666;
    font-weight: bold;
    font-size: 20px;
    border-radius: 6px;
    padding: 4px 8px;
    transform: rotate(-8deg);
    background-color: var(--orange); */
}

.main h2 {
    display: inline-block;
    border: 1px solid #666;
    font-weight: bold;
    font-size: 20px;
    border-radius: 6px;
    padding: 4px 8px;
    transform: rotate(-8deg);
    background-color: var(--orange);
}

.content {
    border: 3px solid #666;
    border-radius: 16px;
    padding: 20px;
}