.main {
    width: 600px;
    background-color: var(--orange);
    justify-items: center;
    padding: 30px 0;
    border-radius: 3px;
}

.admin_main {
    background-color: var(--white);
    justify-items: center;
    padding: 30px 0;
    border-radius: 3px;
}



.form {
    cursor: pointer;
    margin-top: 25px;
    padding: 25px;
    border-radius: 3px;
    background-color: var(--white);
}

.admin_form {
    cursor: pointer;
    margin-top: 25px;
    padding: 25px;
    border-radius: 3px;
}

.label {
    display: block;
}

.input {
    border-bottom: 2px solid var(--orange);
    line-height: 28px;
    padding-left: 8px;
    outline: none;
}

.input:focus {
    background: var(--white);
}

.admin_input {
    border-bottom: 2px solid #333;
    line-height: 28px;
    padding-left: 8px;
    outline: none;
}