.main {
    width: 800px;
    justify-items: center;
}

.title {
    width: 180px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid var(--orange);
    text-align: center;
}

.product {
    width: 630px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.content {
    border: 3px solid transparent;
    border-radius: 3px;
    background:
        linear-gradient(to right, #fff 50%, var(--orange) 100%) bottom / 100% 3px no-repeat, /*幅、高さ、繰り返し*/
        linear-gradient(to bottom, #fff 50%, var(--orange) 100%) right / 3px 100% no-repeat;
    background-origin: border-box;
}

.border {
    padding: 8px 12px;
    border: 2px solid transparent;
    border-radius: 3px;
    background:
        linear-gradient(to right, #fff 30%, var(--orange) 100%) bottom / 100% 2px no-repeat, /*幅、高さ、繰り返し*/
        linear-gradient(to bottom, #fff 30%, var(--orange) 100%) right / 2px 100% no-repeat;
    background-origin: border-box;
}

.border_s {
    width: 80px;
    text-align: center;
    border-bottom: 1px solid var(--orange);
}

.category {
    display: inline-block;
    border: 2px solid var(--orange);
    font-weight: bold;
    border-radius: 6px;
    padding: 2px 6px;
}

@media (max-width: 430px) {
    .product {
        width: 360px;
        padding: 0 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .main {
        width: 360px;
    }
}